.dashboard-page {
  background-color: #585753;
}

.db-clock {
  background-color: white;
  padding-left: 15px;
}

.db-cont {
  background-color: white;
}

.aaa {
  border-top: 150px;
}

.dashboard-first-row, .dashboard-second-row {
  height: 50vh;
}

.dashboard-col-title {
  display: flex;
  align-items: center;
}

.dashboard-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border: 1px solid #585753;
  background-color: #585753;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  width: 20px;
  height: 20px;
}

/* .homepageTitle {
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 1em 0 0.5em 0;
} */

/* .homepageText {
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
} */

/* .myCont {
    margin-bottom: 3em;
    display: flex;
    text-align: center;
} */

/* span > a:link {
    color: white;
} */

/* span > a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
} */