.tenants-page {
  /* display: flex; */
  background-color: #585753;
  margin-top: 80px;
  /* height: 100%; */
}

.t-cont {
  background-color: white;
}

.header-class {
  background-color: #585753;
  color: white;
}

.community-title-table {
  font-weight: bold;
}

.tenants-page-title {
  color: #585753;
}

.tenants-title-table {
  color: #585753;
  font-weight: bold;
}