.tenants-page {
  /* display: flex; */
  background-color: #585753;
  /* height: 100%; */
}

.t-cont {
  background-color: white;
}

.header-class {
  background-color: #585753;
  color: white;
}

.community-title-table {
  font-weight: bold;
}
