.tenants-page {
  /* display: flex; */
  background-color: #585753;
  /* height: 100%; */
}

.t-cont {
  height: 480px;
  padding: 30px;
  background-color: white;
}

.header-class {
  background-color: #585753;
  color: white;
}
