.voting-page {
  background-color: white;
  padding-top: 24px;
  width: 50%;
}

.voting-pages {
  background-color: #585753;
  display: flex;
}

.v-cont {
  background-color: white;
}

.vote-col {
  border-right: 1px solid black;
  width: 50%;
}

.result-graph {
  display: none;
}

.btn-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0;
  color: #585753;
}

.voting-title-table {
  font-weight: bold;
}

.voting-page-title {
  font-weight: bold;
  font-size: 1.5em;
}

.votings-page {
  /* display: flex; */
  background-color: #585753;
  /* height: 100%; */
}

.voting-sort, .radio-btns, .voting-radio-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.voting-sort {
  margin-left: 25px;
  color: gray;
}

.voting-accord {
  width: 100%;
  margin: 20px 0;
  box-shadow: 10px 10px 5px grey;
}

.votings-input-row {
  display: flex;
  justify-content: space-between !important;
}

.votings-select {
  margin: 0 20px;
}

.votings-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* padding: 5px 10px; */
}

.voting-title-table {
  font-weight: bold;
  height: 2em
}

/* .issues-input,
.issues-select,
.issues-radio-btns {
  box-shadow: 10px 10px 5px grey;
} */

.voting-sort {
  margin-left: 25px;
}

.voting-sort-btn {
  margin: 0;
  background-color: #585753 !important;
  border: 2px solid #585753 !important;
  height: 100%;
}

.voting-sort-btn:hover {
  background-color: gray !important;
  border: 2px solid gray !important;
}

.voting-page-title {
  color: #585753;
}