.voting-page {
background-color: #585753;
}
.vp-cont {
    display: flex;
    height: 480px;
    padding: 30px 0;
    background-color: white;
}

.vote-col {
    border-right: 1px solid black;
}

.result-graph {
    display: none;
}

.btn-input-row {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}

.voting-page-title {
    font-weight: bold;
    font-size: 1.5em;
}