.messages-page {
  background-color: #585753;
}

.mp-cont {
  height: 480px;
  padding: 30px;
  background-color: white;
}

.message-sort,
.radio-btns,
.message-radio-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}
.my-accord {
  width: 100%;
  margin-bottom: 40px;
}

.msg-option-select {
  margin: 0 30px;
}

.message-title-table {
  font-weight: bold;
  /* height: 30.667px; */
}
