.messages-page {
  /* display: flex; */
  background-color: #585753;
  /* height: 100%; */
}

.mp-cont {
  /* display: flex; */
  height: 480px;
  padding: 30px;
  background-color: white;
}

.message-sort,
.radio-btns,
.message-radio-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}
.my-accord {
  width: 100%;
}

.msg-option-select {
  margin: 0 30px;
}
