.lp-cont {
  background-color: #585753;
  margin-bottom: 0;
}

.landing-page {
  background-color: #585753;
  color: white;
}

.lp-col {
  padding: 25px 0;
}
.dashboard-title {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.dashboard-text {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  text-align: justify;
}

.lp-cont {
  margin-bottom: 3em;
  display: flex;
  text-align: center;
  /* background-color: white; */
}

span > a:link {
  color: white;
}

span > a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
