.lp-cont {
  background-color: #585753;
  /* s-bottom: 0; */
}

.landing-page {
  background-color: #585753;
  color: white;
  height: 100vh;
}

.lp-col {
  padding: 25px 0;
}

.dashboard-title {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.dashboard-text {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  text-align: justify;
}

.lp-cont {
  /* margin-bottom: 2em; */
  display: flex;
  text-align: center;
  /* background-color: white; */
}

span>a:link {
  color: white;
}

span>a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login-button {
  border-radius: 5px;
  background-color: #0069D9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 7px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-button:hover span {
  padding-right: 25px;
}

.login-button:hover span:after {
  opacity: 1;
  right: 0;
}